<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

    <
</head>
<
<body>
<
<div class="container">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/about">About</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">

        <div class="col-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Metus vulputate eu scelerisque felis imperdiet proin fermentum. Ac felis donec et
                odio pellentesque diam volutpat. Pharetra magna ac placerat vestibulum. Morbi enim nunc faucibus a
                pellentesque sit amet porttitor eget. Vitae congue mauris rhoncus aenean. Pharetra convallis posuere
                morbi leo urna molestie at. Nunc vel risus commodo viverra maecenas accumsan lacus vel. Condimentum
                vitae sapien pellentesque habitant morbi tristique senectus et netus. Lacus vestibulum sed arcu non odio
                euismod lacinia at quis. Consequat nisl vel pretium lectus quam id leo in vitae. Habitant morbi
                tristique senectus et netus. Enim lobortis scelerisque fermentum dui. Neque vitae tempus quam
                pellentesque nec nam. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Pharetra
                convallis posuere morbi leo urna molestie at elementum. Scelerisque purus semper eget duis at tellus at.
                Aenean euismod elementum nisi quis eleifend quam.
            </p>
            <p>
                Vitae semper quis lectus nulla at. Vitae semper quis lectus nulla at volutpat. Fusce id velit ut tortor
                pretium viverra. Feugiat in ante metus dictum at tempor commodo ullamcorper. Neque sodales ut etiam sit
                amet nisl purus in. Egestas purus viverra accumsan in nisl. Tincidunt augue interdum velit euismod.
                Neque sodales ut etiam sit. Eu augue ut lectus arcu bibendum. Cursus mattis molestie a iaculis at erat.
            </p>
            <p>
                Viverra aliquet eget sit amet tellus cras adipiscing enim. Elit scelerisque mauris pellentesque pulvinar
                pellentesque habitant morbi tristique. Ullamcorper eget nulla facilisi etiam dignissim diam.
                Pellentesque habitant morbi tristique senectus. Bibendum arcu vitae elementum curabitur vitae nunc sed
                velit dignissim. Sed odio morbi quis commodo odio aenean sed. Nunc non blandit massa enim nec dui nunc
                mattis. Aliquet nec ullamcorper sit amet risus nullam eget. Facilisi etiam dignissim diam quis enim
                lobortis scelerisque. Hendrerit dolor magna eget est lorem ipsum dolor. In nibh mauris cursus mattis
                molestie. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Leo urna molestie at
                elementum eu facilisis sed odio.
            </p>
            <p>
                Nulla facilisi etiam dignissim diam. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt
                ornare. Velit laoreet id donec ultrices tincidunt arcu non. Enim sit amet venenatis urna. Ut sem viverra
                aliquet eget. Nibh sed pulvinar proin gravida. Faucibus purus in massa tempor nec. Dictum non
                consectetur a erat nam at lectus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. A
                pellentesque sit amet porttitor eget dolor morbi non arcu. Pharetra et ultrices neque ornare aenean
                euismod elementum nisi. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eget
                velit aliquet sagittis id. Metus vulputate eu scelerisque felis imperdiet proin. Faucibus ornare
                suspendisse sed nisi. Quis hendrerit dolor magna eget est lorem ipsum dolor sit. At lectus urna duis
                convallis convallis tellus id interdum velit. Eget felis eget nunc lobortis mattis. Arcu non odio
                euismod lacinia at quis.
            </p>
            <p>
                Neque vitae tempus quam pellentesque nec nam aliquam. Ut etiam sit amet nisl. Justo donec enim diam
                vulputate ut pharetra sit amet. Nec ultrices dui sapien eget mi proin. Nam libero justo laoreet sit amet
                cursus. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Mauris a diam maecenas sed
                enim ut. Id venenatis a condimentum vitae sapien pellentesque. Varius sit amet mattis vulputate enim
                nulla aliquet porttitor lacus. Justo donec enim diam vulputate ut pharetra sit. Morbi blandit cursus
                risus at ultrices mi. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Viverra vitae
                congue eu consequat ac. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Eget
                egestas purus viverra accumsan in nisl. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
                Volutpat est velit egestas dui id. Suspendisse potenti nullam ac tortor vitae purus faucibus. Tortor at
                auctor urna nunc id cursus metus aliquam eleifend.
            </p>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque. Platea dictumst
                quisque sagittis purus sit amet volutpat. Auctor urna nunc id cursus metus aliquam eleifend mi. Vivamus
                arcu felis bibendum ut tristique et egestas quis ipsum. Ac tortor vitae purus faucibus ornare
                suspendisse sed nisi lacus. Ligula ullamcorper malesuada proin libero nunc. Neque aliquam vestibulum
                morbi blandit cursus risus at. Risus sed vulputate odio ut enim blandit. Pretium fusce id velit ut
                tortor pretium viverra suspendisse potenti. Semper viverra nam libero justo laoreet sit amet cursus sit.
                Ut ornare lectus sit amet est placerat in egestas. Lectus proin nibh nisl condimentum id.
            </p>
        </div>
    </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
