<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="red makeBigger">
    <h1>Rohan's Homepage</h1>
</div>
<div id="main_content">
    <p>
        <span class="red makeBigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Sed libero enim sed faucibus turpis in eu mi bibendum. Velit egestas dui id ornare. Quam lacus suspendisse
    faucibus interdum posuere lorem. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Sit amet est
    placerat in egestas erat. Purus semper eget duis at tellus. Nulla aliquet porttitor lacus luctus accumsan tortor.
    Lacus laoreet non curabitur gravida. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Facilisis
    gravida neque convallis a cras semper auctor. Varius quam quisque id diam vel quam. Turpis egestas maecenas pharetra
    convallis posuere morbi.
    </p>
    <p>
    Pellentesque diam volutpat commodo sed. Amet nulla facilisi morbi tempus iaculis. Aliquam vestibulum morbi blandit
    cursus risus at ultrices mi tempus. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Proin fermentum leo
    vel orci. In mollis nunc sed id semper risus in hendrerit. Purus in mollis nunc sed id. Congue eu consequat ac felis
    donec. Iaculis nunc sed augue lacus viverra vitae congue. Pharetra sit amet aliquam id diam maecenas ultricies mi
    eget. Senectus et netus et malesuada.
    </p>
    <p>
    Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. At auctor urna nunc id cursus metus aliquam
    eleifend mi. Cras adipiscing enim eu turpis egestas pretium aenean. Ultricies mi eget mauris pharetra et ultrices
    neque ornare aenean. Amet porttitor eget dolor morbi. Neque volutpat ac tincidunt vitae semper quis lectus nulla.
    Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Enim sed faucibus turpis in eu mi bibendum
    neque. Et malesuada fames ac turpis egestas maecenas pharetra convallis. Et leo duis ut diam quam nulla. Tristique
    magna sit amet purus gravida quis. Mi quis hendrerit dolor magna. Id cursus metus aliquam eleifend mi in nulla
    posuere. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis. Nunc aliquet bibendum enim
    facilisis gravida neque convallis a cras.
    </p>
    <p>
    Nisi vitae suscipit tellus mauris a. Fermentum et sollicitudin ac orci. Pretium vulputate sapien nec sagittis. Amet
    nulla facilisi morbi tempus iaculis urna id volutpat. Suscipit adipiscing bibendum est ultricies integer quis auctor
    elit. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Ullamcorper sit amet risus nullam
    eget felis eget nunc lobortis. Orci dapibus ultrices in iaculis nunc sed. Ultricies mi eget mauris pharetra et
    ultrices neque ornare aenean. Id semper risus in hendrerit gravida.
    </p>
    <p>
    Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Tortor dignissim convallis aenean et
    tortor at risus. Eget dolor morbi non arcu risus quis varius quam quisque. Malesuada proin libero nunc consequat.
    Nisl rhoncus mattis rhoncus urna neque viverra. Enim sed faucibus turpis in eu mi. Imperdiet proin fermentum leo vel
    orci porta non pulvinar neque. At risus viverra adipiscing at in tellus integer. Ipsum dolor sit amet consectetur
    adipiscing elit duis tristique sollicitudin. Aliquam purus sit amet luctus venenatis. Felis donec et odio
    pellentesque diam. Pharetra vel turpis nunc eget lorem dolor sed. Nisl purus in mollis nunc sed id.
    </p>
</div>
</body>
</html>
